APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=5e55d80da72228344f5dc8ea4914f736

# Database

DB_HOST_READ=35.247.223.66
DB_HOST_WRITE=34.95.212.79
DB_USER=pleez
DB_PASS=EkZF?4ycc[dp$CF
DB_NAME=pleez

MONGO_URL=mongodb://localhost:27017/pleez
